* {margin: 0;padding: 0;box-sizing: border-box;}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.app { 
   display: flex;
   justify-content: center;
   margin-top: 200px;
}

.registration {
   width: 450px;
   height: auto;
   box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
   border-radius: 15px;
   text-align: center;
   padding: 20px;
}

.form {
   display: flex;
   flex-direction: column;
}

.form h1 {
   margin-bottom: 20px;
}

.form input {
   margin-bottom: 35px;
   height: 30px;
   border-radius: 8px;
   border: 1px solid #20B2AA;
   box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
   padding-left: 5px;
}

.form button {
   width: 110px;
   height: 28px;
   align-self: end;
   border-radius: 8px;
   border: none;
   box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.4);
   cursor: pointer;
   font-size: 17px;
}